$black: #363B46;
$black_1: #000000;
$white: #ffffff;
$orange: #F97105;
$light-orange-bg: #ffefe3;
$dark-purple: #61346B;
$light_purple: #fbe6ff;
$light-purple-bg: #ede1ff;
$brown: #F6931E;
$light_brown: #FEDDC4;
$green: #3EB546;
$light_green: #DDFFD9;
$light-green-bg: #d4ffe6;
$green-bg: #eaf7ee;
$green-border: #cae9d1;
$red: #E23333;
$light-red-bg: #ffe9ed;
$error: #dc3545;
$light_red: #FFE4E4;
$red-bg: #fcede9;
$red-border: #eec9c0;
$char_red: #F35162;
$icon_blue: #383876;
$blue: #4A86E8;
$light_blue: #E4EEFF;
$light-blue-bg: #d9e8ff;
$yellow: #cc9d0c;
$light_yellow: #ffefbf;
$voilet: #9A00FF;
$light_voilet: #F2DEFF;
$sage: #07c7db;
$light_sage: #e2fcff;
$dark-blue1: #29313E;
$dark-blue2: #10121E;
$dark-blue3: #131523;
$dark-blue4: #212529;
$dark-blue5: #14133F;
$grey_1: #A5A3A3;
$grey_2: #F2F4F5;
$grey_3: #EEEEEE;
$grey_4: #FFF4EB;
$grey_5: #3D3D3D;
$grey_6:#f0f0f0;
$grey_7: #c2c2c2;
$grey_8: #F1F1F3;
$grey_9: #808495;
$grey_10: #E1E1E1;
$grey_11: #cccccc;
$grey_12: #F6EFFF;
$grey_13: #F3E9FF;
$grey_14: #afafc8;
$grey_15: #C4C4C4;
$grey_16: #6A6A6A;
$grey_17: #7B7887;
$grey_18: #8F8F8F;
$grey_19: #4D565C;
$grey_20: #8A8A8A;
$grey_21: #959595;
$grey_22: #b8b5b5;
$grey_23: #f9f9f9;
$grey_24: #686868;
$grey_25: #ACACAC;
$grey_26: #3F4244;
$grey_27: #0D0D0D;
$grey_28: #707070;
$grey_29: #dee2e6;
$grey_30: #FFEBDB;
$disabled:#A5A3A3;
$grey-background:#F7F8FA;
$disableBtn:#e7c0a2;
$td-link: #0020ff;
