<div class="container-fluid p-4">
  <div class="row">
    <div class="col-md-12">
      <app-breadcrumb [breadcrums]="breadcrums" (back)="backToLevel()" [showBack]="true"></app-breadcrumb>
    </div>
    <div class="col-md-12 my-4">
      <div class="card-wrap">
        <div class="card-form">
          <h3 class="title-grey">Change Password</h3>
          <div class="common-form changepasswd-form py-4">
            <form [formGroup]="changepasswordForm">
              <div class="row g-3">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label"
                      >Current Password<span class="char-red">*</span></label
                    >
                    <div class="input-group">
                      <input
                        [type]="currentPassword"
                        type="password"
                        class="form-control"
                        placeholder="Current Password"
                        formControlName="currentPassword"
                        (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()"
                      />
                      <span
                        *ngIf="currentPassword == 'password'"
                        class="input-group-text"
                        ><img
                          src="assets/images/eye-close.svg"
                          alt="eye-icon"
                          class="img-fluid"
                          (click)="passwordView('one')"
                      /></span>
                      <span
                        *ngIf="currentPassword == 'text'"
                        class="input-group-text"
                        ><img
                          src="assets/images/eye.svg"
                          alt="eye-icon"
                          class="img-fluid"
                          (click)="passwordView('one')"
                      /></span>
                      <div
                        class="invalid-feedback"
                        *ngIf="isSubmitted && (changepasswordForm.controls['currentPassword']?.errors?.['required'])"
                      >
                        Current Password is required
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label"
                      >New Password<span class="char-red">*</span></label
                    >
                    <div class="input-group">
                      <input
                        [type]="newPassword"
                        type="password"
                        class="form-control"
                        placeholder="New Password"
                        formControlName="newPassword"
                        (change)="differentPass($event)"
                        (cut)="$event.preventDefault()"
                         (copy)="$event.preventDefault()" 
                         (paste)="$event.preventDefault()"
                      />
                      <span
                        *ngIf="newPassword == 'password'"
                        class="input-group-text"
                        ><img
                          src="assets/images/eye-close.svg"
                          alt="eye-icon"
                          class="img-fluid"
                          (click)="passwordView('two')"
                      /></span>
                      <span
                        *ngIf="newPassword == 'text'"
                        class="input-group-text"
                        ><img
                          src="assets/images/eye.svg"
                          alt="eye-icon"
                          class="img-fluid"
                          (change)="passwordView('two')"
                      /></span>
                      <div class="invalid-feedback">
                        <p *ngIf="isSubmitted && (changepasswordForm.controls['newPassword']?.errors?.['required'])">
                          New Password is required
                        </p>
                        <p *ngIf="isSubmitted && (changepasswordForm.controls['newPassword']?.errors?.['minlength']) || isSubmitted && (changepasswordForm.controls['newPassword']?.errors?.['pattern']) ">
                          Password must be at least 8 characters long. It must contain 1 uppercase letter, 1 lowercase letter, 1 special character, and 1 number
                        </p>
                        <p  *ngIf="error">
                          Current Password and New password must be different
                        </p>
                      </div>
                      
                
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label"
                      >Confirm Password<span class="char-red">*</span></label
                    >
                    <div class="input-group">
                      <input
                        [type]="confirmPassword"
                        type="password"
                        class="form-control"
                        placeholder="Confirm Password"
                        formControlName="confirmPassword"
                        (change)="changePassword($event)"
                        (cut)="$event.preventDefault()"
                         (copy)="$event.preventDefault()" 
                         (paste)="$event.preventDefault()"
                      /> 
                      <span
                        *ngIf="confirmPassword == 'password'"
                        class="input-group-text"
                        ><img
                          src="assets/images/eye-close.svg"
                          alt="eye-icon"
                          class="img-fluid"
                          (click)="passwordView('three')"
                      /></span>
                      <span
                        *ngIf="confirmPassword == 'text'"
                        class="input-group-text"
                        ><img
                          src="assets/images/eye.svg"
                          alt="eye-icon"
                          class="img-fluid"
                          (click)="passwordView('three')"
                      /></span>
                      <div
                        class="invalid-feedback"
                        *ngIf="isSubmitted && (changepasswordForm.controls['confirmPassword']?.errors?.['required'])"
                      >
                        Confirm Password is required
                      </div>
                     
                      <div class="invalid-feedback" *ngIf="throwError">
                        New Password and confirm password must be same
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="d-flex justify-content-end">
                    <div class="btn-wrap">
                      <button class="btn-org me-3" [disabled]="error || throwError" (click)="onSubmit()">
                        <div class="spinner-border text-light me-2" role="status" *ngIf="updating"></div>
                        Save
                      </button>
                      <button class="btn-org-bdr" (click)="onCancel()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="alert" [class.visible]="isVisible">{{ msg }}</div> -->