


<div class="row">
  <div class="col-12 col-md-4">
    <div class="form-content">
      <h3 class="title-black">
        Weightage
      </h3>
      <p class="desc-black">
        {{calculation?.weightage}}
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
  <div class="form-content">
    <h3 class="title-black">
      Poninter
    </h3>
    <p class="desc-black">
      {{calculation?.pointer_logic}}
    </p>
  </div>
</div>
<div class="col-12 col-md-4">
  <div class="form-content">
    <h3 class="title-black">
      Value
    </h3>
    <p class="desc-black">
      {{calculation?.value_logic}}
    </p>
  </div>
  </div>

</div>


