<!-- Advance Filter Modal -->
<div class="modal common-modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Advance Filter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-icons-round">close</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="common-form">
                <form>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Select Column Name<span class="char-red">*</span></label>
                                <select placeholder="Select Column Name" class="form-select">
                                  <option>Select Column Name</option>
                                </select>
                             </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label class="form-label">Select Operator<span class="char-red">*</span></label>
                                <select placeholder="Select Operator" class="form-select">
                                  <option value="=">=</option>
                                  <option value=">">></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Enter Value<span class="char-red">*</span></label>
                                <div class="d-flex">
                                    <input type="text" placeholder="Enter Value" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="mb-3">
                                <button class="btn-add-label">
                                    <img src="assets/images/add.svg" alt="plus" class="img-fluid" />
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <div class="form-radio-wrap">
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio1" checked>
                                        <label class="form-check-label" for="flexRadio1">
                                          Or
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio2">
                                        <label class="form-check-label" for="flexRadio2">
                                            And
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Select Column Name<span class="char-red">*</span></label>
                                <select placeholder="Select Column Name" class="form-select">
                                  <option>Select Column Name</option>
                                </select>
                             </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label class="form-label">Select Operator<span class="char-red">*</span></label>
                                <select placeholder="Select Operator" class="form-select">
                                    <option value="=">=</option>
                                    <option value=">">></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Enter Value<span class="char-red">*</span></label>
                                <div class="d-flex">
                                    <input type="text" placeholder="Enter Value" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="mb-3">
                                <button class="btn-add-label">
                                    <img src="assets/images/add.svg" alt="plus" class="img-fluid" />
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <div class="form-radio-wrap">
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio3">
                                        <label class="form-check-label" for="flexRadio3">
                                          Or
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio4">
                                        <label class="form-check-label" for="flexRadio4">
                                            And
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-wrap">
                <button type="button" class="btn-org me-3" data-bs-dismiss="modal">Search</button>
                <button type="button" class="btn-org-bdr">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>